@import url("https://fonts.googleapis.com/css2?family=Gafata&family=Playfair+Display+SC&family=Waterfall&display=swap");

:root {
  --ff-primary: "Gafata", sans-serif;
  --ff-head: "Playfair Display SC", serif;
  --ff-logo: "Waterfall", cursive;

  --red: firebrick;
  --white: snow;
  --green: #0f9a0f;
  --yellow: gold;
  --black: #222c22;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 555;
  font-size: 1.2345rem;
  line-height: 1.4;
}

h1,
h2,
h3 {
  color: var(--green);
  font-family: var(--ff-head);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

.container,
main {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.container > *,
main > * {
  flex: 1 100%;
}

.item {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.primary {
  background-image: url(./assets/tugu-zapin.png), linear-gradient(var(--green), var(--yellow));
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--white);
}

nav {
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid var(--white);
}

.logo {
  font-family: var(--ff-logo);
  font-size: 2.2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.8em;
  transition: 0.7s ease;
}

nav a:hover {
  color: var(--yellow);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--white);
  border-radius: 1.4rem;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 70%;
  }
}

@media screen and (max-width: 576px) {
  .hamburger {
    display: block;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 8vh;
    height: 92vh;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    transition: 0.3s;
  }

  nav ul.active {
    left: 0;
  }
}

.hero {
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  font-size: 5rem;
  color: #0f9;
  text-transform: uppercase;
  letter-spacing: 15px;
  outline: 3px solid var(--white);
  outline-offset: 0.25em;
  display: inline-block;
  margin: 0.25em 0 0.5em;
}
.hero h1 span {
  font-weight: 300;
}
.hero p span,
.hero p strong {
  color: #0f9;
}

@media screen and (max-width: 40em) {
  .hero h1 {
    font-size: 3rem;
    letter-spacing: 7px;
    outline-offset: 0.13em;
    max-width: 34rem;
  }
}
@media screen and (max-width: 20em) {
  .hero h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    outline-offset: 0.1em;
    max-width: 20rem;
  }
}

main {
  background: rgba(0, 0, 0, 0.4);
}

.card {
  background: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.split {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.split img {
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.split img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}

.split-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40em) {
  .split-sec {
    flex-direction: row;
  }

  .split-sec > * {
    flex-basis: 100%;
  }
}

section {
  color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

#bam-riau {
  background: var(--green);
}
.split-sec h3 {
  margin-bottom: 2.2rem;
  color: var(--white);
  text-decoration: underline;
}
#museum-snu {
  background: var(--yellow);
  color: var(--black);
}
#museum-snu .split-sec h3 {
  color: var(--black);
}
#perpus-suman-hs {
  background: var(--red);
}

aside section {
  color: var(--black);
}

footer {
  background: rgba(0, 0, 0, 0.7);
  background-image: url(./assets/masjid-raya-annur.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.cta {
  padding: 10vh 0;
  color: var(--white);
  display: flex;
  justify-content: flex-end;
}
.cta-text {
  flex-basis: 100%;
  padding: 1em 2em;
}
@media (min-width: 40rem) {
  .cta-text {
    flex-basis: 50%;
  }
}
.cta-text h2 {
  color: var(--white);
  text-decoration: underline;
  padding-bottom: 1rem;
}
.btn {
  display: inline-block;
  padding: 0.7rem 1.7rem;
  background: #0f9;
  color: var(--black);
  font-weight: 900;
  text-decoration: none;
}
.btn:hover {
  background: var(--green);
}
.footer {
  background: var(--white);
  border-radius: 1rem;
}
.footer a {
  color: var(--black);
  font-weight: 900;
}
.footer a:hover {
  color: steelblue;
}

@media all and (min-width: 768px) {
  #content {
    flex: 3;
    order: 2;
  }

  #profile-pku {
    order: 1;
  }

  #my-profile {
    order: 2;
  }

  footer {
    order: 4;
  }
}

@media all and (min-width: 576px) {
  aside {
    flex: 1;
  }
}
